# =========================
# BUILD FILES
# =========================
target/
build/
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE FILES
# =========================

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV / SECRETS (VERY IMPORTANT)
# =========================
.env
.env.*
application-*.yml
application-*.yaml

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# DOCKER
# =========================
docker-data/
mysql_data/

# =========================
# TEST OUTPUT
# =========================
coverage/